.main{
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
h2{
    text-align:center;
}
input[type="text"]{
    width:400px;
    height:30px;
    text-align: center;
    
    
}

ul{
    list-style: georgian outside url('/non-existent.svg');
    
}



button{
    border-radius: 40px;
}
a{
    float:right;
    text-align: right;
    cursor: pointer;
    color: red;
}